@model IEnumerable<NetCoreVideoUpload.Models.Videos>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <div class="col-md-4 form-check float-right border">
        <form asp-action="StartConversion">
            @* List amount of files that need to be converted to .mp4 if they are a video file (maybe use regex to find out) maybe a foreach statementto display the files that can be converted? *@
            <div class="form-group">
                <label>
                    These files can be converted to mp4:
                    @foreach (var item in Model)
                    {
                        if (item.Extension != ".mp4")
                        {
                            <br />
                            <strong>@item.VideoTitle</strong>
                        }
                    }
                </label>
            </div>
            @* Maybe display number of items that can be converted? *@
            <div class="form-group">
                <label>Number of items that can be converted: <strong>@Model.Count(x => x.Extension != ".mp4")</strong></label>
            </div>
            @* Button to start Conversion *@
            <div class="form-group" >
                <button  name="Start" asp-action="StartConversion" class="btn btn-danger">Start Conversion</button>
            </div>
        </form>
    </div>

    @foreach (var item in Model)
    {
        @* Display only the video files with the correct extension. *@
        if (item.Extension == ".mp4")
        {

            <div class="col-md-6">
                <div class="form-check-inline">
                    <div class="card" style="width:600px;">
                        <video class="card-header" src="~/UploadedVideos/@item.FileName" style="height:auto; width:inherit;" type="video/mp4" controls>
                        </video>
                        <div class="card-body">
                            <div class="btn-block text-center">
                                <h5 class="card-title">@item.VideoTitle</h5>
                            </div>
                            <button onclick="Toggle()" class="btn btn-danger">See More</button>
                            <div id="ToggleDescriptionSmall">Video Description</div>
                            <p id="ToggleDescriptionBig" class="card-text text-wrap text-hide">@item.Description</p>
                            <p class="card-footer form-inline">Video Type is: @item.Extension</p>
                            <a href="#" class="btn btn-primary">Download Video</a>
                        </div>
                    </div>
                </div>
            </div>

        }
    }
</div>

<script>
    function Toggle() {
        var x = document.getElementById("ToggleDescriptionSmall");
        var y = document.getElementById("ToggleDescriptionBig");
        if (!x.classList.contains("text-hide")) {
            x.classList.add("text-hide");
            y.classList.remove("text-hide");
        } else {
            x.classList.remove("text-hide");
            y.classList.add("text-hide");
        }

    }
</script>